{% extends "index.html" %}
{% block devices %}
{% for device in devices %}
<li class="dropdown-submenu">
  <a tabindex="-1" href="#">{{ device.hostname }}</a>
  <ul class="dropdown-menu">
{% for interface in device.interfaces %}
    <li class="dropdown-submenu">
      <a tabindex="-2" href="#">{{ interface }}</a>
      <ul class="dropdown-menu">
        <li><a tabindex="-2" href="#">Throughput</a></li>
        <li><a tabindex="-2" href="#">Errors</a></li>
        <li><a tabindex="-2" href="#">Discards</a></li>
        <li><a tabindex="-2" href="#">Unicast</a></li>
        <li><a tabindex="-2" href="#">Broadcast</a></li>
        <li><a tabindex="-2" href="#">Multicast</a></li>
      </ul>
    </li>
{% else %}
    <li class="dropdown-submenu">
      <a tabindex="-2" href="#">No interfaces</a>
    </li>
{% endfor %}
  </ul>
</li>
{% else %}
<li>No devices</li>
{% endfor %}
{% endblock %}
