{% extends "base.html" %}
{% block graph %}
         <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Time periods</a>
              <ul class="nav">
                <li {% if timeperiod == "15m" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='15m', viewOption=viewOption, function=function) }}">15m</a>
                </li>
                <li {% if timeperiod == "1h" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='1h', viewOption=viewOption, function=function) }}">1h</a>
                </li>
                <li {% if timeperiod == "24h" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='24h', viewOption=viewOption, function=function) }}">24h</a>
                </li>
                <li {% if timeperiod == "7d" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='7d', viewOption=viewOption, function=function) }}">7d</a>
                </li>
                <li {% if timeperiod == "30d" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='30d', viewOption=viewOption, function=function) }}">30d</a>
                </li>
                <li {% if timeperiod == "6mo" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='6mo', viewOption=viewOption, function=function) }}">6mo</a>
                </li>
                <li {% if timeperiod == "1y" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='1y', viewOption=viewOption, function=function) }}">1y</a>
                </li>
              </ul>
              <a class="brand">Custom</a>
              <ul class="nav">
                <li>
                  <form class="navbar-form">
                    <div id="datetimepicker2-start" class="input-append">
                      <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" placeholder="Start date/time"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </form>
                </li>
                <li><a></a></li>
                <li>
                  <form class="navbar-form">
                    <div id="datetimepicker2-end" class="input-append">
                      <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" placeholder="End date/time"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Options</a>
              <ul class="nav">
                <li {% if viewOption == "bps" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption='bps', function=function) }}">Bits/sec</a></li>
                <li {% if viewOption == "Bps" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption='Bps', function=function) }}">Bytes/sec</a></li>
                <li class="divider-vertical"></li>
              </ul>
              <ul class="nav">
                <a class="brand">Functions</a>
                <li {% if function == "none" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption=viewOption, function='none') }}">None</a></li>
                <li {% if function == "average" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption=viewOption, function='average') }}">Average</a></li>
              </ul>
            </div>
          </div>
          <div class="well">
            <a href="{{ graph_link }}">Direct link to this graph</a><br />
            <img class="img-polaroid" src="{{ graph_link }}" />
          </div>
{% endblock graph %}
