{% extends "base.html" %}
{% block graph %}
         <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Time periods</a>
              <ul class="nav">
                {% for tp in timeperiods.keys() %}
                <li {% if timeperiod == tp %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=tp, viewOption=viewOption, function=function) }}">{{ tp }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Options</a>
              <ul class="nav">
              {% if metricUnit == "octets" %}
                <li {% if viewOption == 'bps' %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption='bps', function=function) }}">Bits/sec</a></li>
                <li {% if viewOption == 'Bps' %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption='Bps', function=function) }}">Bytes/sec</a></li>
              {% else %}
                <li {% if viewOption == 'pps' %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption='pps', function=function) }}">Packets/sec</a></li>
              {% endif %}
              </ul>
              <ul class="nav">
                <a class="brand">Functions</a>
                <li {% if function == "none" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption=viewOption, function='none') }}">None</a></li>
                <li {% if function == "average" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption=viewOption, function='average') }}">Average</a></li>
                <li {% if function == "95th" %} class="active" {% endif %}><a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod=timeperiod, viewOption=viewOption, function='95th') }}">95th Percentile</a></li>
              </ul>
            </div>
          </div>
          <div class="well">
            <a href="{{ graph_link }}" target="_blank">Direct link to this graph</a><br />
            <img class="img-polaroid" src="{{ graph_link }}" />
          </div>
{% endblock graph %}
