{% extends "base.html" %}
{% block graph %}
         <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Time periods</a>
              <ul class="nav">
                <li {% if timeperiod == "15m" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='15m') }}">15m</a>
                </li>
                <li {% if timeperiod == "1h" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='1h') }}">1h</a>
                </li>
                <li {% if timeperiod == "24h" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='24h') }}">24h</a>
                </li>
                <li {% if timeperiod == "7d" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='7d') }}">7d</a>
                </li>
                <li {% if timeperiod == "30d" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='30d') }}">30d</a>
                </li>
                <li {% if timeperiod == "6mo" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='6mo') }}">6mo</a>
                </li>
                <li {% if timeperiod == "1y" %} class="active" {% endif %}>
                  <a href="{{ url_for('graph', host=host, interface=interface, metric=metric, timeperiod='1y') }}">1y</a>
                </li>
              </ul>
              <a class="brand">Custom</a>
              <ul class="nav">
                <li>
                  <form class="navbar-form">
                    <div id="datetimepicker2-start" class="input-append">
                      <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" placeholder="Start date/time"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </form>
                </li>
                <li><a></a></li>
                <li>
                  <form class="navbar-form">
                    <div id="datetimepicker2-end" class="input-append">
                      <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" placeholder="End date/time"></input>
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <a class="brand">Options</a>
              <ul class="nav">
                <li class="active"><a href="#">Mbps</a></li>
                <li><a href="#">MBps</a></li>
                <li class="divider-vertical"></li>
              </ul>
              <ul class="nav">
                <a class="brand">Functions</a>
                <li class="active"><a href="#">None</a></li>
                <li><a href="#">Average</a></li>
                <li><a href="#">Std Dev</a></li>
                <li><a href="#">95th</a></li>
              </ul>
            </div>
          </div>
          <div class="well">
            <a href="{{ graph_link }}">Direct link to this graph</a><br />
            <img class="img-polaroid" src="{{ graph_link }}" />
          </div>
{% endblock graph %}
